.slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
}

img {
    width: 100%;
    vertical-align: middle;
}

.container-dots {
    text-align: center;
} 

.dot {
    width: 15px;
    height: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color .6s ease;
}

.dot:hover {
    background-color: #717171;
}

.active-dot {
    background-color: #717171;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, .8);
}

.slideshow-container {
    width: 100%;

}

.images {
    width: 100%;
}

.images img {
    width: 100%;
    object-fit: cover;
}


.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}